
.header {
	position: relative;
}

.container-full {}

.header-top {
	background-color: #fafafa;
	padding-top: 24px;
	padding-bottom: 24px;

	@media screen and (max-width: 768px) {
		padding-top: 14px;
		padding-bottom: 14px;
	}
}

.header-top__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-top__logo {
	flex-shrink: 0;
}

.header-top__img {
	display: block;
	height: 64px;

	@media screen and (max-width: 768px) {
		height: 44px;
	}
}

.header-top__adress {

	@media screen and (max-width: 1820px) {
		display: none;
	}

	span {
		padding-right: 16px;
		padding-left: 16px;
		border-right: 1px solid rgba(34, 34, 34, 0.2);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			border: none;
		}
	}
}

.header-top__info {
	display: flex;
	gap: 40px;
	align-items: center;
}

.header-top__work {
	display: flex;
	align-items: center;
	gap: 8px;
	font-weight: 700;
	text-transform: uppercase;
	color: #02ad4a;

	@media screen and (max-width: 1320px) {
		display: none;
	}
}

.header-top__work-time {
	display: block;
	height: 32px;
	width: 32px;	
}

.header-top__social.header-top__social {
	@media screen and (max-width: 1080px) {
		display: none;
	}
}

.header-top__phones {}

.svg {}

.soc-btns {
	display: flex;
	gap: 12px;
	align-items: center;
}

.soc-btns__item {}

.soc-btn {
	display: inline-flex;
}

.soc-btn__icon {
	display: block;
	height: 40px;
	width: 40px;
}

.ht-phones {
	@media screen and (max-width: 860px) {
		display: none;
	}
}

.ht-phones__item {
	padding-right: 16px;
	padding-left: 16px;
	font-weight: 500;
	font-size: 20px;
	color: #222;
	border-left: 1px solid rgba(34, 34, 34, 0.2);

	&:first-child {
		padding-left: 0;
		border: none;
	}

	&:last-child {
		padding-right: 0;
	}
}


.header-bottom {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #fff;
	
	@media screen and (max-width: 1820px) {
		display: none;
	}
}

.header-bottom__container {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
}

.header-bottom__nav {
	flex-grow: 1;
}

.header-bottom__search {
	flex-shrink: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.header-bottom__search-icon {
	display: block;
	height: 32px;
	width: 32px;
}

.header-bottom__feedback {
	flex-shrink: 0;
}

.header-nav {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 0 30px;
	align-items: center;
}

.header-nav__item {
	display: block;

	.header-nav__submenu--1lvl & {
		padding-right: 40px;
	}

	.header-nav__submenu--1lvl &:hover > .header-nav__submenu--2lvl {
		opacity: 1;
		transform: translateX(0);
		visibility: visible;
	}
}

.header-nav__link {
	display: block;
	font-weight: 500;
	font-size: 18px;
	text-transform: uppercase;
	color: #222;
	line-height: normal;
	transition: all .25s;

	.header-nav > .header-nav__item & {
		display: inline-flex;
		align-items: center;
		height: 54px;
	}
	
	.header-nav__submenu--1lvl & {
		display: inline-flex;
		padding: 8px 20px 10px;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.5;
		color: #222;
		border-radius: 10px;
		background: transparent;
		transition: all 0.25s;
		text-transform: none;
	
		&:hover {
			background-color: rgba(192, 235, 210, 0.3);
		}
	}

	.header-nav__item:has(.header-nav__submenu) & {
		position: relative;
	}

	.header-nav > .header-nav__item:has(.header-nav__submenu) > & {
		margin-right: 22px;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 100%;
			transform: translateY(-50%);
			width: 24px;
			height: 24px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23222' stroke-linejoin='round' stroke-width='1.5' d='m19 9-7 7-7-7'/%3E%3C/svg%3E%0A");
			background-size: cover;
		}
	}

	.header-nav__submenu--1lvl .header-nav__item:has(.header-nav__submenu) > & {
		padding-right: 41px;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			width: 16px;
			height: 16px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23222' stroke-linecap='square' stroke-linejoin='round' stroke-width='1.5' d='M6 3.333 10.667 8 6 12.667'/%3E%3C/svg%3E");
			background-size: cover;
		}
	}


}

.header-nav__panel-submenu {
	position: absolute;
	z-index: 2;
	top: calc(100% - 20px);
	left: 0;
	padding-top: 40px;
	padding-bottom: 80px;
	width: 100vw;	
	background-color: #fff;
	transition: all .25s;
	transform: translateY(40px);
	opacity: 0;
	visibility: hidden;

	.header-nav > .header-nav__item:hover & {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
}

.header-nav__submenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header-nav__submenu--1lvl {
	margin-left: -20px;
	position: relative;
	width: 500px;
	width: max-content;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-right: 1px solid rgba(34, 34, 34, 0.1);
}
.header-nav__submenu--2lvl {
	position: absolute;
	top: 0;
	left: 100%;
	padding-left: 40px;
	width: 100%;
	width: max-content;
	display: flex;
	flex-direction: column;
	gap: 10px;
	transition: all .25s;
	transform: translateX(40px);
	opacity: 0;
	visibility: hidden;
}

.header-nav__item {}

.header-nav__item--has-submenu {}



