
.header {
	position: relative;

	@media screen and (max-width: 1820px) {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}

	a {
		transition: all 0.25s;

		@media (hover: hover) {
			&:hover {
				transform: translateY(-2px);
			}
		}
	}
}

.container-full {}

.header-top {
	background-color: #fafafa;
	padding-top: 24px;
	padding-bottom: 24px;

	@media screen and (max-width: 1820px) {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	@media screen and (max-width: 768px) {
		padding-top: 14px;
		padding-bottom: 14px;
	}
}

.header-top__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-top__logo {
	flex-shrink: 0;
}

.header-top__img {
	display: block;
	height: 64px;

	@media screen and (max-width: 768px) {
		height: 44px;
	}
}

.header-top__adress {

	@media screen and (max-width: 1820px) {
		display: none;
	}

	span {
		border-right: 1px solid rgba(34, 34, 34, 0.2);
		padding-right: 16px;
		padding-left: 16px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			border: none;
			padding-right: 0;
		}
	}
}

.header-top__info {
	display: flex;
	align-items: center;
	gap: 40px;
}

.header-top__social.header-top__social {
	@media screen and (max-width: 1080px) {
		display: none;
	}
}

.header-top__phones {}

.svg {}

.ht-phones {
	@media screen and (max-width: 860px) {
		display: none;
	}
}

.ht-phones__item {
	border-left: 1px solid rgba(34, 34, 34, 0.2);
	padding-right: 16px;
	padding-left: 16px;
	color: #222;
	font-weight: 500;
	font-size: 19px;
	display: inline-flex;

	&:first-child {
		border: none;
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}
}


.header-bottom {
	position: relative;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	
	@media screen and (max-width: 1820px) {
		display: none;
	}
}

.header-bottom__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.header-bottom__nav {
	flex-grow: 1;
}

.header-bottom__search {
	flex-shrink: 0;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.header-bottom__search-icon {
	display: block;
	width: 32px;
	height: 32px;
}

.header-bottom__feedback.header-bottom__feedback {
	flex-shrink: 0;
	background-color: #a6cd50;

	&:hover {
		background-color: #90b345;
	}
}

.header-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0 30px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header-nav__item {
	display: block;

	.header-nav__submenu--1lvl & {
		padding-right: 40px;
	}

	.header-nav__submenu--1lvl &:hover > .header-nav__submenu--2lvl {
		transform: translateX(0);
		visibility: visible;
		opacity: 1;
	}
}

.header-nav__link {
	display: block;
	transition: all .25s;
	color: #222;
	font-weight: 500;
	font-size: 18px;
	line-height: normal;
	text-transform: uppercase;
	letter-spacing: -0.05em;

	.header-nav > .header-nav__item & {
		display: inline-flex;
		align-items: center;
		height: 54px;
	}
	
	.header-nav__submenu--1lvl & {
		display: inline-flex;
		transition: all 0.25s;
		border-radius: 10px;
		background: transparent;
		padding: 8px 20px 10px;
		color: #222;
		font-weight: 400;
		font-size: 20px;
		line-height: 1.5;
		text-transform: none;
	
		&:hover {
			background-color: rgba(192, 235, 210, 0.3);
		}
	}

	.header-nav__item:has(.header-nav__submenu) & {
		position: relative;
	}

	.header-nav > .header-nav__item:has(.header-nav__submenu) > & {
		margin-right: 28px;

		&::after {
			position: absolute;
			top: 50%;
			left: calc(100% + 4px);
			transform: translateY(-50%);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23222' stroke-linejoin='round' stroke-width='1.5' d='m19 9-7 7-7-7'/%3E%3C/svg%3E%0A");
			background-size: cover;
			width: 24px;
			height: 24px;
			content: "";
		}
	}

	.header-nav__submenu--1lvl .header-nav__item:has(.header-nav__submenu) > & {
		padding-right: 41px;

		&::after {
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23222' stroke-linecap='square' stroke-linejoin='round' stroke-width='1.5' d='M6 3.333 10.667 8 6 12.667'/%3E%3C/svg%3E");
			background-size: cover;
			width: 16px;
			height: 16px;
			content: "";
		}
	}


}

.header-nav__panel-submenu {
	position: absolute;
	top: calc(100% - 20px);
	left: 0;
	transform: translateY(40px);
	visibility: hidden;
	opacity: 0;
	z-index: 2;
	transition: all .25s;	
	background-color: #fff;
	padding-top: 40px;
	padding-bottom: 80px;
	width: 100vw;

	.header-nav > .header-nav__item:hover & {
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
	}
}

.header-nav__submenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header-nav__submenu--1lvl {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 10px;
	margin-left: -20px;
	border-right: 1px solid rgba(34, 34, 34, 0.1);
	width: 500px;
	width: max-content;
}
.header-nav__submenu--2lvl {
	display: flex;
	position: absolute;
	top: 0;
	left: 100%;
	flex-direction: column;
	gap: 10px;
	transform: translateX(40px);
	visibility: hidden;
	opacity: 0;
	transition: all .25s;
	padding-left: 40px;
	width: 100%;
	width: max-content;
}

.header-nav__item {}

.header-nav__item--has-submenu {}



