@use "sass:math";

.mobile-menu {
	display: flex;
	display: flex;
	position: fixed;
	bottom: 0;
	left: -100%;
	flex-direction: column;
	flex-direction: column;
	gap: 40px;
	z-index: 100;
	transition: left 0.25s;
	background-color: #fff;
	width: 100%;
	max-width: 390px;
	height: 100vh;
	box-shadow: 0px 4px 4px 0px #e6e6e6;
	
	@media screen and (max-width: 768px) {
		max-width: 100%;
	}
	
	&.toggle {
		left: 0;
		overflow-y: auto;
	}

	a {
		transition: all 0.25s;

		@media (hover: hover) {
			&:hover {
				transform: translateY(-2px);
			}
		}
	}
}

.mobile-menu__wrapper {
	padding: 0 10px 14px 10px;
	overflow-y: auto;
	
	& {
		scrollbar-color: #dedede #ffffff;
		scrollbar-width: thin;
	}
	
	&::-webkit-scrollbar {
		width: 10px;
	}
	
	&::-webkit-scrollbar-track {
		background: #ffffff;
	}
	
	&::-webkit-scrollbar-thumb {
		border: 3px solid #ffffff;
		border-radius: 10px;
		background-color: #dedede;
	}
}

.mobile-menu__wrapper-box {
	display: flex;
	position: relative;
	flex-grow: 1;
	flex-direction: column;
	gap: 40px;
}

.mobile-menu__search {
}

.mm-search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	margin: 10px 10px 0 10px;
	border-bottom: 1px solid #dedede;
	height: 49px;
}

.mm-search__label {
	flex-grow: 1;
	height: 100%;
}

.mm-search__input {
	display: block;
	border: none;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
	height: 100%;
	color: #222;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;

	&:focus {
		outline: 1px solid #f4f4f4;
		border-radius: 4px;
	}

	&::placeholder {
		opacity: 0.8;
		color: #222;
	}
}

.mm-search__button {
	border: none;
	background-color: transparent;
	padding: 0;
}

.mm-search__icon {
	display: block;
	cursor: pointer;
	width: 24px;
	height: 24px;
}

.mobile-menu__box {}

.mobile-menu__btn.mobile-menu__btn {
	background-color: #a6cd50;
	width: 100%;
	font-size: 16px;

	&:hover {
		background-color: #90b345;
	}
}

.mm-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.mm-info__phones {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
}

.mm-info__phone {
	color: #222;
	font-weight: 400;
	font-size: 24px;
}

.mm-info__text {
	display: flex;
	flex-direction: column;
	gap: 5px;

	span {
		color: rgba(34, 34, 34, 0.8);
	}

	p {
		margin: 0;
	}
}