.qa {}

.qa-container {}

.qa-box {
	display: flex;
	align-items: center;
	gap: 20px;
	border-radius: 30px;
	background: linear-gradient(94.88deg, #f3fef7 1.59%, #e9f3d3 80.32%, #c0ebd2 100%);
	padding: 80px 64px;

	@media screen and (max-width: 992px) {
		flex-direction: column;
	}

	@media screen and (max-width: 768px) {
		background: linear-gradient(94.88deg, #f3fef7 21.43%, #e9f3d3 84.29%, #c0ebd2 100%);
		padding: 40px 20px;
	}
}

.qa-text {
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media screen and (max-width: 768px) {
		gap: 10px;
	}
}

.qa-descr {
	margin: 0;
	text-wrap: balance;
}

.callback-form {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 362px;
	width: 100%;
	flex-shrink: 0;

	@media screen and (max-width: 992px) {
		max-width: initial;
	}
}

.callback-form__field {}

.callback-form__input {
	border: none;
	border-radius: 100px;
	background-color: #fff;
	padding-right: 20px;
	padding-left: 20px;
	height: 48px;
	color: #222;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;

	@media screen and (max-width: 768px) {
		font-size: 16px;
	}

	&::placeholder {
		color: rgba(34, 34, 34, 0.5);
	}
}

.callback-form__agreement {
	margin-top: 2px;
}

.callback-form__checkbox {
	display: flex;
	gap: 10px;
}

.callback-form__checkbox-input {}

.callback-form__checkbox-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	cursor: pointer;
	
	a {
		color: rgba(34, 34, 34, 0.3);
	}
}

.callback-form__submit.callback-form__submit {
	margin-top: 16px;
	background-color: #a6cd50;

	&:hover {
		background-color: #90b345;
	}
}

/* Кастомный квадрат */
.checkbox__box {
	position: relative;
	flex: 0 0 20px;
	width: 20px;
	height: 20px;

	border: 1px solid rgba(34, 34, 34, 0.3);
	border-radius: 5px;

	background: #fff;

	transition:
		background-color 0.2s,
		border-color 0.2s;
}

/* Галочка */
.checkbox__box::after {
	content: "";

	position: absolute;
	top: 3px;
	left: 7px;

	width: 5px;
	height: 9px;

	border-right: 2px solid #222;
	border-bottom: 2px solid #222;

	transform: rotate(45deg) scale(0);
	transition: transform 0.2s;
}

/* Состояние checked */
.callback-form__checkbox-input:checked + .checkbox__box {
	// border-color: #222;
	background: #fff;
}

.callback-form__checkbox-input:checked + .checkbox__box::after {
	transform: rotate(45deg) scale(1);
}

/* Фокус с клавиатуры */
.callback-form__checkbox-input:focus-visible + .checkbox__box {
	outline: 2px solid #222;
	outline-offset: 2px;
}