.reviews {}

.reviews-container {}

.reviews-box {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.reviews-top {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-areas: 
		"a b"
		"c d"
	;
	gap: 10px;

	@media screen and (max-width: 992px) {
		grid-template-columns: 1fr;
		grid-template-areas: 
			"a"
			"c"
			"b"
		;
	}
}

.reviews-top__title {
	grid-area: a;
}

.reviews-top__descr {
	margin: 0;
	grid-area: c;
	opacity: 0.8;
	text-wrap: balance;
}

.reviews-top__btn {
	grid-area: b;
	align-self: center;

	@media screen and (max-width: 992px) {
		justify-self: start;
		margin-top: 10px;
	}
}
.reviews-content {
	background-color: #e5f4eb;
	border-radius: 30px;
	height: 300px;
}