.slider-nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;

	@media screen and (max-width: 600px) {
		display: none;
	}
}

.slider-nav__box {
	display: flex;
	gap: 20px;
}

.slider-nav__prev,
.slider-nav__next {
	display: block;
	transition: all .25s;
	cursor: pointer;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' viewBox='0 0 32 32'%3E%3Cpath stroke='%23222' stroke-linecap='square' stroke-linejoin='round' stroke-width='1.5' d='M10.667 9.334 4 16l6.667 6.667M4 16h24'/%3E%3C/svg%3E");
	background-position: center;
	background-size: cover;
	width: 32px;
	height: 32px;

	@media (hover: hover) {
		&:hover {
			transform: translateY(-2px);
		}
	}

	&.swiper-button-disabled {
		opacity: .4;
		cursor: initial;
	}
}

.slider-nav__next {
	transform: rotate(180deg);

	@media (hover: hover) {
		&:hover {
			transform: translateY(-2px) rotate(180deg);
		}
	}
}